<nz-content style="padding:0 50px;">
    <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item><a routerLink="/admin/dashboard">首页</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>订单管理</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="background:#fff; padding: 24px; min-height: 280px;">
        <h2 class="table-title clearfix">
            订单管理
            <div style="float: right;">
                <input nz-input type="search" placeholder="输入订单尾号查询订单" style="width: 200px;" [(ngModel)]="keywords" (keyup)="onSearch($event)">
            </div>
        </h2>
        <nz-table #nzTable [nzAjaxData]="orderList"
                  [nzTotal]="nzTotal"
                  [(nzPageIndex)]="nzPageIndex"
                  (nzPageIndexChange)="pageChange($event)"
                  [nzPageSize]="10"
                  (nzPageSizeChange)="pageChange($event)"
        >
            <thead nz-thead>
            <tr>
                <th nz-th><span>订单号</span></th>
                <th nz-th><span>类型</span></th>
                <th nz-th><span>总价</span></th>
                <th nz-th><span>下单时间</span></th>
                <th nz-th><span>状态</span></th>
                <th nz-th><span>付款方式</span></th>
                <th nz-th width="100"><span>操作</span></th>
            </tr>
            </thead>
            <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let order of orderList">
                <td nz-td>{{order.sn}}</td>
                <td nz-td>{{order.type == 0 ? '普通订单':'积分兑换订单'}}</td>
                <td nz-td>￥{{order.sumPrice}}元</td>
                <td nz-td>{{order.createdAt | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
                <td nz-td>{{ order.status <= 1 ? '己付款,等待发货' : '己发货'}}</td>
                <td nz-td>{{ order.payway == 0 ? '支付宝' : '微信支付'}}</td>
                <td nz-td style="text-align: right;">
                    <button nz-button [nzType]="'primary'" [nzSize]="'small'" *ngIf="order.status == 1"
                            (click)="open(order._id)"><span>发货</span></button>
                    <button nz-button [nzType]="'primary'" [nzSize]="'small'"
                            *ngIf="order.status == 2 || order.status == 1"
                            (click)="open(order._id)"><span>查看</span></button>
                </td>
            </tr>
            </tbody>
        </nz-table>
    </div>
</nz-content>
