<nz-content style="padding:0 50px;">
    <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item><a routerLink="/admin/dashboard">首页</a></nz-breadcrumb-item>
        <nz-breadcrumb-item><a routerLink="/admin/questions">问题反馈列表</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>问题反馈</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="background:#fff; padding: 24px; min-height: 280px;">
        <div class="admin-form">
            <h2>问题反馈</h2>
            <form nz-form [formGroup]="formModel">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <label nz-form-item-required>类别</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                        <nz-select formControlName="cate" nzAllowClear nzPlaceHolder="请选择">
                            <nz-option nzValue="0" nzLabel="Bug反馈"></nz-option>
                            <nz-option nzValue="1" nzLabel="新需求"></nz-option>
                        </nz-select>
                        <div nz-form-explain *ngIf="formModel.get('cate').dirty && formModel.get('cate').errors">
                            请选择分类!
                        </div>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <label nz-form-item-required>标题</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                        <input nz-input placeholder="请输入标题" formControlName="title">
                        <div nz-form-explain *ngIf="formModel.get('title').dirty && formModel.get('title').errors">
                            请输入标题!
                        </div>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <label nz-form-item-required>描述</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                        <textarea row="8" nz-input formControlName="desc" placeholder="问题描述越详细越好"
                                  style="height: 200px;"></textarea>
                        <div nz-form-explain *ngIf="formModel.get('desc').dirty && formModel.get('desc').errors">
                            请输入问题详细描述!
                        </div>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <label>上传图片</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
                        <div class="clearfix">
                            <nz-upload
                                nzAction="/api/upload"
                                nzListType="text"
                                [(nzFileList)]="fileList"
                                [nzPreview]="handlePreview"
                                [nzBeforeUpload]="beforeUpload"
                            >
                                <button nz-button type="button">
                                    <i class="anticon anticon-upload"></i><span>上传</span>
                                </button>
                            </nz-upload>
                            <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
                                      (nzOnCancel)="previewVisible=false">
                                <ng-template #modalContent>
                                    <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }"/>
                                </ng-template>
                            </nz-modal>
                        </div>
                    </div>
                </div>

                <div nz-form-item nz-row style="margin-bottom:8px;">
                    <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
                        <button nz-button [nzSize]="'large'" [nzType]="'primary'" type="button" (click)="_submitForm($event)">提交问题</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nz-content>
