<nz-content style="padding:0 15px;">
    <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item><a routerLink="/admin/dashboard">首页</a></nz-breadcrumb-item>
        <nz-breadcrumb-item><a routerLink="/admin/questions">问题反馈列表</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>问题反馈</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="background:#fff; padding: 24px; min-height: 280px;">
        <div class="admin-form">
            <h2>问题反馈</h2>
            <form nz-form [formGroup]="formModel">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cate">类别</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-select formControlName="cate" nzAllowClear nzPlaceHolder="请选择">
                            <nz-option nzValue="0" nzLabel="Bug反馈"></nz-option>
                            <nz-option nzValue="1" nzLabel="新需求"></nz-option>
                        </nz-select>
                        <nz-form-explain *ngIf="formModel.get('cate')?.dirty && formModel.get('cate')?.errors">
                            请选择分类!
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">标题</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input placeholder="请输入标题" formControlName="title">
                        <nz-form-explain *ngIf="formModel.get('title')?.dirty && formModel.get('title')?.errors">
                            请输入标题!
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="desc">描述</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                       <textarea row="8" nz-input formControlName="desc" placeholder="问题描述越详细越好"
                                 style="height: 200px;"></textarea>
                        <nz-form-explain *ngIf="formModel.get('desc')?.dirty && formModel.get('desc')?.errors">
                            请输入问题详细描述!
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>上传图片</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-upload
                            nzAction="/api/upload"
                            nzListType="text"
                            [(nzFileList)]="fileList"
                            [nzPreview]="handlePreview"
                            [nzBeforeUpload]="beforeUpload"
                        >
                            <button nz-button type="button">
                                <i class="anticon anticon-upload"></i><span>上传</span>
                            </button>
                        </nz-upload>
                        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
                                  (nzOnCancel)="previewVisible=false">
                            <ng-template #modalContent>
                                <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }"/>
                            </ng-template>
                        </nz-modal>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row style="margin-bottom:8px;">
                    <nz-form-control [nzSpan]="14" [nzOffset]="6">
                        <button nz-button [nzType]="'primary'" type="button" (click)="_submitForm($event)">提交问题</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </div>
</nz-content>
