<div class="login-body">
    <div class="login">
        <h2 class="login-title">盈垦后台管理</h2>
        <div class="antd-pro-layouts-user-layout-desc">广西盈垦现代有限责任公司：卖木耳，我们是用心的！</div>
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="_submitForm()">
            <div class="alert-error">
                <nz-alert nzType="error" nzMessage="{{errMsg}}" nzShowIcon [hidden]="hidden"></nz-alert>
            </div>
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group [nzPrefix]="prefixUser">
                        <input type="text" nz-input formControlName="userName" placeholder="输入用户名" />
                    </nz-input-group>
                    <nz-form-explain
                         *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').hasError('required')">
                        请输入用户名!
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group [nzPrefix]="prefixLock">
                        <input nz-input formControlName="password" type="password" placeholder="输入密码" />
                    </nz-input-group>
                    <nz-form-explain
                        *ngIf="validateForm.get('password').dirty && validateForm.get('password').hasError('required')">
                        请输入密码!
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <div nz-form-control>
                    <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">登 录</button>
                </div>
            </nz-form-item>
        </form>
        <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
        <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
    </div>
</div>
