<div class="login">
    <h2 class="login-title">盈垦后台台管理</h2>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="_submitForm()">
        <div class="alert-error">
            <nz-alert nzType="error" nzMessage="{{errMsg}}" nzShowIcon [hidden]="hidden"></nz-alert>
        </div>
        <div nz-form-item>
            <div nz-form-control>
                <nz-input formControlName="userName" [nzPlaceHolder]="'输入用户名'" [nzSize]="'large'">
                    <ng-template #prefix>
                        <i class="anticon anticon-user"></i>
                    </ng-template>
                </nz-input>
                <div nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').hasError('required')">请输入用户名!</div>
            </div>
        </div>
        <div nz-form-item>
            <div nz-form-control>
                <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'输入密码'" [nzSize]="'large'">
                    <ng-template #prefix>
                        <i class="anticon anticon-lock"></i>
                    </ng-template>
                </nz-input>
                <div nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').hasError('required')">请输入密码!</div>
            </div>
        </div>
        <div nz-form-item>
            <div nz-form-control>
                <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">登 录</button>
            </div>
        </div>
    </form>
</div>
