<nz-content style="padding:0 15px;">
    <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item><a routerLink="/admin/dashboard">首页</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>产品管理</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="background:#fff; padding: 24px; min-height: 280px;">
        <h2 class="table-title">产品管理</h2>
        <form nz-form [formGroup]="formModel">
            <nz-form-item>
                <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="name" nz-form-item-required>产品名称</label>
                </nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <input nz-input formControlName="name">
                    <nz-form-explain *ngIf="formModel.get('name')?.dirty && formModel.get('name')?.errors"
                    >输入一个好听的名称吧!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="price" nz-form-item-required>产品促销价</label>
                </nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <nz-input-group nzCompact>
                        <nz-input-number style="width: 20%;" nz-input formControlName="price" placeholder="价格"></nz-input-number>
                        <input style="width: 15%;" nz-input formControlName="unit" placeholder="单位" (keyup)="updateOriginPrice($event)">
                    </nz-input-group>
                    <nz-form-explain *ngIf="formModel.get('price')?.dirty && formModel.get('price')?.errors"
                    >输入产品促销价!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="origin_price" nz-form-item-required>产品原价</label>
                </nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <nz-input-group nzCompact>
                        <nz-input-number style="width: 20%;" nz-input formControlName="origin_price" placeholder="产品原价"></nz-input-number>
                        <input style="width: 15%;" nz-input formControlName="origin_price_unit" placeholder="单位">
                    </nz-input-group>
                    <nz-form-explain *ngIf="formModel.get('origin_price')?.dirty && formModel.get('origin_price')?.errors"
                    >输入产品原价!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="banner" nz-form-item-required>产品图片</label>
                </nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <nz-upload class="avatar-uploader"
                               nzAction="/api/upload"
                               nzName="file"
                               [nzShowUploadList]="false"
                               [nzBeforeUpload]="beforeUpload"
                               (nzChange)="handleChange($event)">
                        <i *ngIf="!avatarUrl" class="anticon anticon-plus avatar-uploader-trigger"></i>
                        <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar">
                    </nz-upload>
                    <!--<nz-form-explain *ngIf="formModel.get('price')?.dirty && formModel.get('price')?.errors"-->
                    <!--&gt;给产品上传一个清析的照片!</nz-form-explain>-->
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="code" nz-form-item-required>积分兑换</label>
                </nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <nz-input-number formControlName="code" [nzMin]="1" [nzStep]="1"></nz-input-number>
                    <nz-form-explain *ngIf="formModel.get('code')?.dirty && formModel.get('code')?.errors"
                    >输入产品兑换积分!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="desc">产品描述</label>
                </nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <textarea nz-input formControlName="desc"></textarea>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                    <label for="desc">状态</label>
                </nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                    <nz-radio-group formControlName="pro_status">
                        <label nz-radio [nzValue]="0">上架销售中</label>
                        <label nz-radio [nzValue]="1">产品下架</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item style="margin-bottom:8px;">
                <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
                    <button nz-button [nzType]="'primary'" *ngIf="isSave" (click)="save()">保存
                    </button>
                    <button nz-button [nzType]="'primary'" *ngIf="!isSave" (click)="update(product)">
                        更新
                    </button>
                </div>
            </nz-form-item>
        </form>
    </div>
</nz-content>
