:host ::ng-deep .logo {
    /*width: 100%;*/
    height: 31px;
    border-radius: 6px;
    margin: 16px auto 16px auto;
    /*float: left;*/
    font-size: 20px;
    line-height: 31px;
    text-align: center;
}
:host ::ng-deep .logo a{
    color: #fff;
}
.login-out{
    color: #333;
    display: inline-block;
    padding-right: 20px;
}
.text-right{
    text-align: right;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 15px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}
