<nz-content style="padding:0 15px;">
    <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item><a routerLink="/admin/dashboard">首页</a></nz-breadcrumb-item>
        <nz-breadcrumb-item><a routerLink="/admin/admin-list">管理员列表</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>管理员帐号管理</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="background:#fff; padding: 24px; min-height: 280px;">
        <div class="admin-form">
            <h2>管理员帐号</h2>
            <form nz-form [formGroup]="formModel" (ngSubmit)="_submitForm()">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>手机号码</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input formControlName="phone">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>密码</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input formControlName="password" [type]="'password'"
                               (ngModelChange)="updateConfirmValidator()">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>密码</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input formControlName="checkPassword" [type]="'password'">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row style="margin-bottom:8px;">
                    <nz-form-control [nzSpan]="14" [nzOffset]="6">
                        <button nz-button [nzType]="'primary'">保存</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </div>
</nz-content>
