<nz-content style="padding:0 15px;">
    <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item><a routerLink="/admin/dashboard">首页</a></nz-breadcrumb-item>
        <nz-breadcrumb-item><a routerLink="/admin/orders">订单管理</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>订单详情</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="background:#fff; padding: 24px; min-height: 280px;">
        <h2 class="table-title">订单详情
            <span style="float: right; color: orangered;">{{hide ? '积分兑换订单' : '普通订单'}}</span>
        </h2>
        <nz-card class="my-card" nzTitle="收货地址">
            <p>地址：{{address}}</p>
            <p>联系人：{{name}}</p>
            <p>手机：{{phone}}</p>
        </nz-card>
        <nz-card class="my-card" nzTitle="订单{{sn}}" [nzExtra]="title">
            <ng-template #title>
                创建时间：{{time | date: 'yyyy-MM-dd hh:mm:ss'}}
            </ng-template>
            <div nz-row [nzGutter]="8" *ngFor="let product of orders">
                <div nz-col class="gutter-row" [nzSpan]="2">
                    <img src="{{product.product.banner.path}}" alt="" width="80" height="80">
                </div>
                <div nz-col class="gutter-row" [nzSpan]="16">
                    {{product.product.name}}
                </div>
                <div nz-col class="gutter-row" [nzSpan]="3">
                    <p style="text-align: right">数量：x{{product.num}}</p>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="3">
                    <p style="text-align: right">单价：{{product.product.price}}元</p>
                </div>
            </div>
            <p class="sum">总金额：{{sum}}元</p>
            <p class="order-type">支付方式：{{payway}}</p>
        </nz-card>
        <div class="btn-box">
            <button nz-button [nzType]="'default'" (click)="cannel()">
                <span>取消</span>
            </button>
            <button nz-button [nzType]="'primary'" (click)="showModal()" *ngIf="orderStatus == 1" style="margin-left: 15px;">
                <span>确认发货</span>
            </button>
        </div>
    </div>
</nz-content>

<nz-modal [nzVisible]="isVisible" [nzTitle]="'确认收货'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)"
          (nzOnOk)="handleOk($event)">
    <ng-template #modalContent>
        <p>确认后，客户将收到发货通知，请先确认收款到帐号，及客户收货地址无误后再操作！</p>
    </ng-template>
</nz-modal>
