<nz-content style="padding:0 15px;">
    <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item><a routerLink="/admin/dashboard">首页</a></nz-breadcrumb-item>
        <nz-breadcrumb-item><a routerLink="/admin/admin-list">管理员列表</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>修改密码</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="background:#fff; padding: 24px; min-height: 280px;">
        <div class="login-password">
            <h2>修改密码</h2>
            <form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="phone">手机号码</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input formControlName="phone" [disabled]="true">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="password">原始密码</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input formControlName="password" [type]="'password'">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="newPassword">新密码</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input formControlName="newPassword" [type]="'password'" (ngModelChange)="updateConfirmValidator()">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="checkNewPassword">确认新密码</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input [nzSize]="'large'" formControlName="checkNewPassword" [type]="'password'">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row style="margin-bottom:8px;">
                    <nz-form-control [nzSpan]="14" [nzOffset]="6">
                        <button nz-button [nzType]="'primary'">保存</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </div>
</nz-content>
