<nz-content style="padding:0 50px;">
    <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item><a routerLink="/admin/dashboard">首页</a></nz-breadcrumb-item>
        <nz-breadcrumb-item><a routerLink="/admin/admin-list">管理员列表</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>修改密码</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="background:#fff; padding: 24px; min-height: 280px;">
        <div class="login-password">
            <h2>修改密码</h2>
            <form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <label for="phone" nz-form-item-required>手机号码</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <nz-input [nzSize]="'large'" formControlName="phone" [nzId]="'phone'" nzDisabled></nz-input>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <label for="password" nz-form-item-required>原始密码</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <nz-input [nzSize]="'large'" formControlName="password" [nzType]="'password'"
                                  [nzId]="'password'"></nz-input>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <label for="newPassword" nz-form-item-required>新密码</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <nz-input [nzSize]="'large'" formControlName="newPassword" [nzType]="'password'"
                                  [nzId]="'newPassword'" (ngModelChange)="updateConfirmValidator()"></nz-input>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
                        <label for="checkNewPassword" nz-form-item-required>确认新密码</label>
                    </div>
                    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                        <nz-input [nzSize]="'large'" formControlName="checkNewPassword" [nzType]="'password'"
                                  [nzId]="'checkNewPassword'"></nz-input>
                    </div>
                </div>
                <div nz-form-item nz-row style="margin-bottom:8px;">
                    <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
                        <button nz-button [nzSize]="'large'" [nzType]="'primary'">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nz-content>
