<nz-content style="padding:0 15px;">
    <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item><a routerLink="/admin/dashboard">首页</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>问题把馈</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="background:#fff; padding: 24px; min-height: 280px;">
        <h2 class="table-title clearfix">问题列表
            <button nz-button (click)="create()" [nzType]="'primary'" style="float: right;"><i
                class="anticon anticon-file-text"></i><span>新增</span></button>
        </h2>
        <nz-table #nzTable [nzData]="questions">
            <thead nz-thead>
            <tr>
                <th nz-th width="50"><span>ID</span></th>
                <th nz-th><span>标题</span></th>
                <th nz-th><span>创建日期</span></th>
                <th nz-th width="80"><span>状态</span></th>
                <th nz-th width="100" style="text-align: center;"><span>操作</span></th>
            </tr>
            </thead>
            <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let question of nzTable.data; let i = index;">
                <td nz-td>{{i+1}}</td>
                <td nz-td>{{question.title}}</td>
                <td nz-td>{{question.createdAt | date:'yyyy-MM-dd hh:mm:ss'}}</td>
                <td nz-td>{{ question.status === 0 ? "待解决" : "己处理" }}</td>
                <td nz-td style="text-align: right;">
                    <a *ngIf="question.status === 0" (click)="deal(question)"><span>处理</span>
                    </a>

                    <a *ngIf="question.status === 1" (click)="showDeal(question)">
                        <span>查看</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </nz-table>
    </div>
</nz-content>

<nz-modal [nzVisible]="isVisible" [nzTitle]="'问题处理'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)"
          (nzOnOk)="handleOk($event)" *ngIf="dealQuestion != null">
    <ng-template #modalContent>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">类别</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                {{ dealQuestion.cate === 0 ? 'Bug反馈' : '新需求'}}
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">标题</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                {{ dealQuestion.title }}
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">描述</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                {{ dealQuestion.desc }}
            </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="dealQuestion.files.length > 0">
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">图片</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" *ngFor="let img of dealQuestion.files">
                <a href="{{img.path}}" target="_blank">{{img.originalName}}</a>
            </nz-form-control>
        </nz-form-item>
        <form nz-form [formGroup]="formModel">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>问题分类</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="dealCate" nzAllowClear nzPlaceHolder="请选择" [nzDisabled]="isView">
                        <nz-option nzValue="1" nzLabel="这是Bug"></nz-option>
                        <nz-option nzValue="2" nzLabel="设计如此，不予处理"></nz-option>
                        <nz-option nzValue="3" nzLabel="感觉时间不够用，延后开发"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>处理结果</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <textarea row="8" nz-input formControlName="dealDesc" placeholder="告诉处理结果"
                              style="height: 200px;" [disabled]="isView"></textarea>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>
</nz-modal>
